header {
  text-align: center;
}

.rgb-input {
  font-weight: 700;
}

.color-balls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 5%;
  width: 80%;
}

.ball {
  border: 2px black solid;
  border-radius: 50%;
  box-sizing: content-box;
  height: 60px;
  margin: 20px;
  width: 60px;
}

.info-menu {
  text-align: center;
}

button {
  background-color: green;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 1em;
}

button:hover {
  cursor: pointer;
}